<h1>Add new Contact</h1>
<form method="post" action="/contact/addAction">
<input type="text" name="FullName" id="FullName"/><br/>
<input type="number" name="Phone" id="Phone"/><br/>
<input type="submit" value="OK"/><br/>
</form>
